body {
    margin: 0;
    padding: 0;
}

.elements,
body {
    background: #fff
}

.element__item.wwlf {
    background: rgba(166, 205, 217, 0.42);
}

.element__item.wwlf .tags {
    color: #8c6764;
}

.element__item.wwlf p {
    padding-top: 10px;
}

.element__item.wwlf .category {
    display: none;
}

.element__item.wwlf .date {
    color: #c8b3b2;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.element__item.wwsf {
    background: #FBFFDD
}

.element__item.project {
    background: #8C6764
}

.element__item.outbound {
    background: #aca6d9
}

.element__item.voicememo {
    background: #e1ddff
}

.element__item.review {
    background: #64898c
}

.element__item.quote {
    background: silver
}

.element__item.travel {
    background: #eee
}

.element__item.doodle,
.element__item.image,
.element__item.video {
    background: #aaa;
}

.element__item.image img {
    /* imgs are usually wider than they are high, so specify width first. */
    max-width: 200px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.element__item.title {
    position: absolute;
    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400
}

.element__item.description {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 42px;
    font-weight: 700;
    color: #fff
}

.element__item.date,
.element__item.icon {
    position: absolute;
    top: 76px;
    font-size: 12px
}

.element__item.date {
    left: 10px
}

.element__item.icon {
    right: 30px
}

*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.elements:after {
    content: "";
    display: table;
    clear: both
}

.elements {
    width: 100%;
    padding-left: 10px
}

.element__item {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    padding: 10px
}

.element__item--width2 {
    width: 410px
}

.element__item--height2 {
    height: 410px
}

.element__gutter {
    width: 10px
}

.element__column {
    width: 200px
}

.element__item>* {
    margin: 0;
    padding: 0
}
